.p-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.p-container:hover{
  transform: translate3d(10px);
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.position {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

.year {
  font-size: 0.9rem;
  color: #999;
}
