html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #242424;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: green;
}

.sm-images{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.sm-images img{
  height: auto;
  width: 50px;
  object-fit: contain;
  transition: filter 0.4s ease;
}

.sm-images img:hover{
  filter: invert(1);
}

.direct-links{
  margin-left: 40px;
}

.f-duckimg{
  display: flex;
}

.f-duckimg h2{
  padding-left: 10px;
  padding-top: 25px;
}

.footer-image {
  width: 70px;
  height: auto;
  margin: 10px 0;
  object-fit: contain;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 10px 0;
}

.footer-links a {
  color: inherit;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: orange;
}
