html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #242424;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.sm-images{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.sm-images svg{
  height: auto;
  width: 50px;
  object-fit: contain;
}

.sm-images svg path{
  fill: white;
  transition: fill 0.3s ease;
}

.sm-images a:hover svg path {
  fill: orange;
}

.email-us a{
  color: inherit;
}

.direct-links{
  margin-left: 60px;
  margin-top: -2px;
}

.f-duckimg{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.f-duckimg p{
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
}

.footer-image {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 10px 0;
}

.footer-links a {
  color: inherit;
  transition: color 0.3s ease;
  text-decoration-color: orange;
}

.footer-links a:hover {
  color: orange;
}


.f-master{
  display:flex;
  flex-direction: row;
  /* top right bottom left*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.email-us a{
  text-decoration-color: orange;
  transition: color 0.3s ease;
}

.email-us a:hover{
  color: orange;
}
