.holy-moly{
  background-color: #FFF7F0;
}

.hero-header {
  position: relative;
  width: 100vw; 
  height: 120vh; 
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 70%);
}

.hero-header img.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.hero-header img.logo-image {
  position: absolute; 
  top: 80px; 
  left: 600px; 
  width: 800px; 
}

.home-master{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.what-is{
  /* top right bottom left */
  margin: -350px 100px 0 100px;
  color: #4C4E4E;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.what-is-text{
  width: 700px;
  align-items: center;
  text-align: center;
}

.what-is-text h2{
  font-size: 35px;
}

.what-is-text p{
  margin-top: -20px;
  font-size: 16px;
  padding-bottom: 20px;
}

.hero-button{
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ffa500;
  border-radius: 12px;
  background-color: transparent;
  color: #4C4E4E;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 150px;
  margin-top: -20px;
}

.hero-button:hover{
  background-color: orange;
  color: white;
}

.what-is-image{
  height: auto;
  width: 600px;
  object-fit: contain;
  border-radius: 40px;
  border: solid;
  margin-top: 20px;
}

.hero-header-2 {
  position: relative;
  width: 100vw; 
  height: 900px; 
  overflow: hidden;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header-2 img.banner2 {
  width: 100vw;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}

.etc{
  margin: 0 100px 0 100px;
  color: #4C4E4E;
  display: flex;
  flex-direction: column;

}

.etc h2{
  font-size: 35px;
}

.etc p{
  font-size: 16px;
  padding-bottom: 20px;
}

.team-joinus{
  /* top right bottom left */
  margin: 0px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.tj-text{
  width: 700px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.events-projects{
  margin: 0px 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.tj{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.tj1{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  margin-top: -20px;
}


.special{
  margin-left: 100px;
}

.specialR{
  margin-right: 100px;
}
