.e-header {
  margin-top: 100px;
}

.e-header h2 {
  font-size: 48px;
  text-align: center;
  color: #363838;
}

.e-header-2 h2 {
  font-size: 48px;
  text-align: center;
  color: #363838;
}

.e-events {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  row-gap: 50px;
}

.e-container {
  width: 450px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
