.tb-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  /* top right bottom left */
  width: 100%;
  margin: 15px auto;
}

.text-container{
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  max-width: 450px;
}

.heading-text{
  margin-bottom: -30px;
  color: #4C4E4E
}

.heading-text h2{
  font-size: 30px;
}

.image-container{
  margin-left: 100px;
  /* background-color: red; */
}

.image-container img{
  height: auto;
  width: 150px;
}

.description-text{
  color: #444;
}