.b-fit-masterdiv{
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 50px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 10px auto; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-align: center;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: center;
  align-items: center;
}

.b-title{
  display: flex;
  align-items: center; /* Ensure the text and image align vertically */
  gap: 10px; /* Adjusts the space between the image and the title */
  justify-content: center; /* Centers the content */
}

.b-title h4{
  font-size: 18px;
  color: #333;
  margin: 0; 
  padding: 0; 
}

.b-title img{
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height to ensure consistency */
  object-fit: contain; /* Ensures image scales properly */
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.b-masterdiv h3{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px; 
  color: orange;
  text-align: center; 
}

.b-description p{
  font-size: 16px;
  color: #444;
  margin: 0;
  padding: 0;
}

.b-fit-masterdiv:hover{
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}
