.p-header h2{
  font-size: 48px;
  text-align: center;
  color: #363838;
}

.p-mastercontainer{
  /* top right bottom left */
  padding: 0 50px 50px 50px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
}